<!-- <div ng-repeat="myObject in myObject">
  {{myObject[1].colour}}
  {{myObject[0]}}
</div> -->
<!-- <div *ngFor="myObject of myObject">

</div> -->
<!-- <ng-template *ngFor="myObject of myObject">
  ngTemplateOutlet
</ng-template> -->
<!-- <ul>
  <p *ngFor="let item of myObject; index as i;" ng-repeat="myObject in myObject" appCustomeDirective>
    
      colour={{myObject[i].colour}}, text ={{myObject[i].text}}<br>
      colour={{item.colour}}, text ={{item.text}} -->
    
    <!-- {{item}} -->
  <!-- </p>
</ul> -->
<!-- <ul>
  <div *ngFor="let item of myObject; index as i;"  >
    
    <div appNewCutomeDirective [defaultColor]="myObject[i].colour" >
      colour={{myObject[i].colour}}, text ={{myObject[i].text}}<br>
      colour={{item.colour}}, text ={{item.text}} 
    </div>
    
  </div>
</ul> -->
<div *ngFor="let item of myObject; index as i;"  >
    
  <p appNewCutomeDirective [myObject]="item" id="p1" >
    {{myObject[i].text}}<br>
    <!-- colour={{item.colour}}, text ={{item.text}} -->
  </p>
  
  <!-- {{item}} -->
</div>
<!-- <p appNewCutomeDirective [defaultColor]="'#00ff23'">
  aaaa
</p> -->
<!-- <div ng-repeat="myObject in myObject" style="cursor:pointer">
  <p class=" tag-label">
    {{myObject[0].colour}}

  </p>

</div> -->