<!-- 
<p>Job with ID {{jobone.id}} loaded.</p>
<p> {{jobone.title}}</p>
<p>{{jobone.company}}</p>
<p>{{jobone.place}}</p>
<p>{{jobone.time}}</p> -->
<!-- <div class="row" > -->
  <!-- <div class="col-xs-12 col-sm-6"> -->
      
            <!-- <tr> -->
              <!-- <td >{{i+1}}</td> -->
              <td (click)="jobShowDetail(job.id)">{{job.id}}</td>
              <td (click)="jobShowDetail(job.id)">{{job.title}}</td>
              <td (click)="jobShowDetail(job.id)">{{jobone.company}}</td>
              <td (click)="jobShowDetail(job.id)">{{jobone.place}}</td>
              <td (click)="jobShowDetail(job.id)">{{jobone.time}}</td>
              <td ><button class="btn btn-primary" (click)="onEdit(job.id)">
                Edit server
            </button></td>
            
  <!-- </div> -->
<!-- </div> -->