<div class="container mt-80">
    <div class="md-n5">
    <form class="">
        <div class="form-group">
            <label for="exampleInputstudentName">Studet name :</label>
            <input type="text" class="form-control" id="studentName" name="studentName" placeholder="Enter Student Name" #studentName>
        
        </div>
        <div class="form-group">
            <label for="exampleInputschool">school/collage</label>
            <input type="text" class="form-control" id="School" name="School" placeholder="School/Collage" #School> 
        </div>
        
        <button type="button" (click)="addStudentData(studentName,School)" class="btn btn-primary">Login</button>
    </form>
    </div>
</div>